body, #all, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-image: url("../img/6.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100%;
  width: 100%;
  font-family: "Lato","Geneva CY","Lucida Grande","Arial Unicode MS","Helvetica Neue","Helvetica","Arial",sans-serif; }

#wrapper {
  margin: 0; }

#wrapper.offcanvas #sidebar-wrapper {
  width: 40px; }

@media (max-width: 600px) {
  #sidebar-wrapper .smallsidebar {
    width: 40px; } }

#wrapper.offcanvas #sidebar-wrapper.smallsidebar {
  width: 250px; }

#sidebar-wrapper {
  width: 250px;
  height: 100%;
  background: #F7F7F7;
  position: absolute;
  left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
  z-index: 1002;
  margin-left: -250px;
  float: left;
  /*@include media("(max-width:600px)"){
        width: 40px;
    }*/ }

.menu-primary, .menu-user, .menu-primary-comment {
  height: 40px;
  width: 250px;
  position: relative;
  background: #5B7A59;
  line-height: 40px;
  color: #FFF;
  z-index: 1002; }

.menu-user, .menu-primary-comment {
  background: transparent;
  float: left;
  position: absolute;
  padding-left: 5px;
  padding-top: 4px; }

.menu-user a, .menu-primary-comment a,
.menu-user a span, .menu-primary-comment a span,
.menu-user a .avatar, .menu-primary-comment a .avatar {
  float: left; }

.icon, .icon-black, .icon-ring,
.icon-message, .icon-desc {
  width: 30px;
  height: 20px;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  margin-top: 12px;
  margin-left: 5px;
  align-items: center;
  color: #FFF;
  float: left;
  cursor: pointer; }

.icon-black, .icon-ring,
.icon-message {
  color: #666666;
  font-size: 18px;
  font-weight: 100; }

.icon-desc {
  color: #B2B2B2;
  float: none;
  font-size: 15px;
  width: 18px; }

.menu-create {
  bottom: 0;
  position: absolute;
  width: 250px;
  height: 40px;
  align-items: center;
  line-height: 40px;
  display: block;
  align-items: center;
  border-top: 1px solid #DEDEDE;
  color: dodgerblue;
  background: #F7F7F7; }

.menu-create .icon-black, .menu-create .icon-ring, .menu-create
.icon-message {
  color: dodgerblue; }

.sidebar-nav {
  list-style: none;
  top: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0;
  width: 250px;
  height: -webkit-calc(100% - 110px);
  height: -moz-calc(100% - 110px);
  height: -ms-calc(100% - 110px);
  height: calc(100% - 110px);
  overflow-y: auto;
  overflow-x: hidden;
  position: relative; }

/*.sidebar-nav li a{
    margin-left: 6px;
}*/
.share {
  line-height: 30px; }

.sidebar-nav li {
  line-height: 40px;
  padding-left: 0px;
  width: 250px;
  cursor: pointer; }

#repeatp {
  display: block;
  margin-left: 40px;
  position: relative; }

#search-input {
  line-height: 20px;
  height: 40px;
  background: transparent;
  color: #FFF;
  font-size: 16px;
  border: 0;
  margin-left: 6px;
  width: 160px;
  float: left; }

#search-input:focus {
  outline: none; }

.avatar {
  width: 32px;
  height: 32px;
  background: #14C8B4;
  color: #FFF;
  padding-left: 12px;
  line-height: 30px;
  font-weight: bold;
  font-size: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

.icon-info {
  width: 50px;
  height: 40px;
  text-align: center;
  color: #000;
  float: left;
  display: block;
  font-size: 14px;
  align-items: center;
  padding: 3px;
  padding-top: 7px; }

.icon-ring,
.icon-message {
  float: right;
  font-size: 20px;
  width: auto;
  margin-right: 10px;
  height: auto;
  margin-top: 5px;
  color: #7B7A7A; }

.icon-ring {
  margin-right: 20px; }

.icon-info span {
  font-size: 10px; }

.icremovecomment {
  float: right;
  right: 0;
  position: absolute;
  display: inline-block; }

.glyphicon-trash {
  float: right;
  line-height: 30px; }

/*menu description*/
#menu-desc {
  width: 350px;
  height: 100%;
  background: #F7F7F7;
  position: absolute;
  right: 200px;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  transition: all 0.8s ease;
  overflow: hidden;
  z-index: 1003;
  margin-right: -200px;
  float: right; }

.description-note i {
  color: red;
  margin-right: 8px;
  font-size: 20px; }

.title-menu-desc2 i {
  margin-right: 2px; }

.label-message {
  float: right;
  font-size: 10px;
  color: #000;
  float: right;
  margin-top: 10px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 2px 6px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  line-height: 15px;
  display: block; }

.title {
  width: auto;
  margin-left: 10px;
  color: #000; }

.menu-desc-label {
  height: auto;
  padding-top: 5px;
  background: #FFF;
  border-bottom: 1px solid #EBEBEB; }

.menu-desc-label .fa-square-o {
  font-size: 18px; }

.white {
  color: white; }

.progress-bar {
  z-index: -10;
  top: 0;
  height: 100%;
  width: 0%;
  display: block;
  position: absolute;
  -webkit-transition: width 425ms ease;
  -moz-transition: width 425ms ease;
  -o-transition: width 425ms ease;
  -ms-transition: width 425ms ease;
  transition: width 225ms ease;
  border-right-width: 1px;
  border-right-style: solid;
  opacity: 0.08;
  float: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background: #EFF3EF; }

.note-item-list {
  display: block;
  position: relative;
  opacity: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background: transparent;
  width: 100%;
  height: 45px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  color: #FFF;
  line-height: 40px; }

.h45 {
  height: 45px;
  width: 100%;
  display: block; }

.ab {
  width: 100%;
  display: block; }

.h30 {
  height: 30px;
  text-align: center;
  align-items: center;
  line-height: 25px;
  font-weight: bold;
  border-bottom: 1px solid #EBEBEB;
  border-top: 1px solid #EBEBEB; }

.ab li:hover .show-item,
.h45:hover .show-item,
li:hover .show-item {
  display: inline;
  font-size: 12px; }

.ab li .show-item,
.h45 .show-item,
li .show-item {
  display: none;
  font-size: 12px; }

.labeldatesmall {
  font-size: 10px;
  position: relative;
  margin-left: -16px; }

.reminder-head span:firt-child, .comment span:firt-child {
  font-weight: bold; }

/*
 .show #calen, .show #starter {
    display: none;
}*/
.title-menu-desc, .title-menu-desc1, .title-menu-desc2 {
  line-height: 40px;
  width: -webkit-calc(100% - 40px);
  width: -moz-calc(100% - 40px);
  width: -ms-calc(100% - 40px);
  width: calc(100% - 0px);
  border-bottom: 1px solid #EBEBEB;
  margin-left: 40px;
  height: 45px; }

.title-menu-desc .shareuser, .title-menu-desc1 .shareuser, .title-menu-desc2 .shareuser {
  cursor: pointer;
  color: #A9B0C3; }

.title-menu-desc1 {
  height: auto; }

.title-menu-desc2 {
  height: 45px; }

.input-file, .input-note, #api_buttonstartdate1_open {
  border: 0;
  float: left;
  width: -webkit-calc(100% - 120px);
  width: -moz-calc(100% - 120px);
  width: -ms-calc(100% - 120px);
  width: calc(100% - 120px);
  background: transparent;
  padding-left: 5px; }

.icon-right {
  float: right;
  display: inline-block; }

.input-note, #api_buttonstartdate1_open {
  width: -webkit-calc(100% - 70px);
  width: -moz-calc(100% - 70px);
  width: -ms-calc(100% - 70px);
  width: calc(100% - 70px); }

.input-file:hover, .input-note:hover, #api_buttonstartdate1_open:hover {
  outline: none; }

.bottom {
  padding: 7px;
  border-top: 1px solid #EBEBEB;
  bottom: 0;
  position: absolute;
  width: 100%; }

.list-task {
  list-style: none;
  padding: 0;
  width: 100%;
  /*overflow-y: scroll;
    overflow-x: hidden;*/
  margin: 0;
  padding: 0; }

.list-task li {
  height: 45px; }

.toggle-menu-desc {
  height: 30px;
  line-height: 30px;
  width: 100%; }

.date-task {
  width: -webkit-calc(100% - 80px);
  width: -moz-calc(100% - 80px);
  width: -ms-calc(100% - 80px);
  width: calc(100% - 80px);
  align-items: center;
  text-align: center;
  position: absolute;
  color: #BAA3AE;
  font-size: 12px; }

.index {
  z-index: 1000; }

.edit-form {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border: 0;
  resize: none;
  overflow: hidden;
  word-wrap: break-word;
  min-height: 45px;
  max-height: 150px;
  width: -webkit-calc(100% - 80px);
  width: -moz-calc(100% - 80px);
  width: calc(100% - 80px);
  margin-top: 8px; }

.edit-form:focus {
  outline: none; }

.dialog-wrapper {
  position: absolute;
  top: 25px;
  left: -webkit-calc(50% - 150px);
  left: -moz-calc(50% - 150px);
  left: -ms-calc(50% - 150px);
  left: calc(50% - 150px);
  width: 300px;
  height: 50px;
  z-index: 1040; }

.menu-reminder {
  list-style: none;
  margin: 0;
  padding: 0; }

.menu-reminder li i {
  float: right;
  right: 0;
  margin: 5px; }

.menu-reminder li {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background: #FAFAFA;
  height: 65px;
  margin-bottom: 4px; }

.icon-reminder {
  width: 35px;
  height: 35px;
  background: #328AD6;
  padding-left: 10px;
  padding-top: 10px;
  margin-top: 12px;
  margin-left: 10px;
  color: white; }

.show i {
  margin-right: 18px;
  color: #fff;
  font-size: 20px; }

.show #calen {
  font-size: 20px; }

.show #calen span {
  font-size: 10px; }

#repeatp h6 {
  margin: 0;
  padding: 0;
  display: block; }

.reminder-head, .comment {
  height: 65px;
  display: inline;
  position: absolute;
  padding-left: 10px;
  padding-top: 10px; }

.list-comment {
  list-style: none;
  padding: 0;
  margin: 0;
  height: -webkit-calc(100% - 350px);
  height: -moz-calc(100% - 350px);
  height: -ms-calc(100% - 350px);
  height: calc(100% - 350px);
  position: relative; }

.comment .commentname {
  font-weight: bold; }

.comment .commenttime {
  font-size: 12px;
  color: #7384A8;
  margin-left: 5px; }

.list-comment li {
  height: 40px;
  margin-bottom: 3px;
  width: 100%; }

.comment {
  height: 40px;
  padding-top: 0px;
  width: 100%;
  float: left; }

.menu-primary-comment {
  line-height: 20px; }

.datenote, .dateremind {
  width: -webkit-calc(100% - 80px);
  width: -moz-calc(100% - 80px);
  width: -ms-calc(100% - 80px);
  width: calc(100% - 80px);
  border: 0;
  padding-left: 5px;
  background: transparent;
  float: left; }

.datenote:focus, .dateremind:focus {
  outline: none; }

ul.datetime-picker-dropdown {
  z-index: 9999; }

.picker__holder {
  -webkit-backface-visibility: visible; }

.dateremind {
  width: 40%;
  float: left; }

.iconsize24 {
  font-size: 24px; }

.label-icon {
  font-size: 10px;
  position: relative;
  margin-left: -16px; }

.label-icon-clear {
  font-size: 12px;
  position: absolute;
  background: #FF8080;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  margin-top: 6px;
  line-height: 15px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  color: white;
  margin-left: -8px;
  padding-left: 4px; }

#user-name {
  line-height: 30px; }

.menu-user a .fa-angle-down, .menu-primary-comment a .fa-angle-down {
  line-height: 10px; }

.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
  padding-right: 0px !important; }

.fa-inbox {
  color: #2B8DEC;
  font-weight: 100; }

.fa-calendar {
  color: #E29600; }

.fa-star-o.icon-black, .fa-star-o.icon-ring,
.fa-star-o.icon-message {
  color: #DB4C3F; }

.fa-circle-thin {
  font-size: 25px; }

.fa-calendar-o.icon-black, .fa-calendar-o.icon-ring,
.fa-calendar-o.icon-message {
  color: #5FA004;
  margin-left: 2px; }

.small-label {
  font-size: 7px;
  margin-bottom: 10px; }

#wrapper.offcanvas #page-content-wrapper {
  position: relative;
  margin-right: 0;
  margin-left: 40px;
  width: -webkit-calc(100% - 40px);
  width: -moz-calc(100% - 40px);
  width: calc(100% - 40px);
  overflow: visible; }

@media (max-width: 500px) {
  #page-content-wrapper {
    position: relative;
    margin-left: 40px;
    float: left;
    width: -webkit-calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: -ms-calc(100% - 40px);
    width: calc(100% - 40px);
    overflow: hidden; } }

@media (min-width: 500px) {
  #page-content-wrapper {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative;
    margin-left: 250px;
    width: -webkit-calc(100% - 250px);
    width: -moz-calc(100% - 250px);
    width: -ms-calc(100% - 250px);
    width: calc(100% - 250px);
    float: left;
    overflow: visible; } }

.search {
  margin-left: 0px;
  margin-right: 0; }

.head-content {
  background: #668964;
  height: 40px;
  float: left;
  position: relative;
  width: 100%;
  z-index: 1001; }

.head-content .label-search {
  float: left; }

.label-search h1 {
  font-size: 24px; }

.head-content h1 {
  margin: 0;
  padding: 5px;
  color: #FFF; }

.more-info {
  right: 0;
  margin: 0;
  position: absolute;
  width: 150px;
  float: left;
  z-index: 1001;
  background: #668964; }

.new-note {
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  height: 45px;
  margin-top: 40px;
  background: #668964;
  border-radius: 5px; }

.note-item, .note-item-complete {
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  height: 45px;
  background: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  margin-top: 1px;
  padding-top: 5px;
  position: relative;
  color: #FFF;
  line-height: 40px; }

.note-item input, .note-item-complete input {
  height: 40px; }

#input-note {
  border: 0;
  background: #668964;
  color: #FFF;
  line-height: 35px;
  float: left;
  outline: none;
  font-size: 16px;
  margin-right: 0px;
  text-overflow: ellipsis;
  padding-right: 0px;
  width: -webkit-calc(100% - 150px);
  width: -moz-calc(100% - 150px);
  width: -ms-calc(100% - 150px);
  width: calc(100% - 150px); }

.icon-new-note {
  float: left; }

.icon-new-note i {
  margin: 0;
  padding: 0;
  height: 10px;
  weight: 10px; }

.btn-search {
  margin: 5px;
  background: #668964;
  color: #FFF;
  opacity: 0.7;
  border: 0;
  line-height: 35px;
  float: left; }

.show {
  float: right;
  height: 20px;
  display: inline-block; }

.note, .note-complete {
  margin-top: 20px;
  list-style: none;
  margin-left: 0;
  padding: 0; }

.show-complete {
  text-transform: uppercase;
  color: #FFF;
  background-color: #668964;
  opacity: 0.8;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 180px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 11px;
  padding: 5px; }

.show-complete .title {
  color: #FFF;
  cursor: pointer; }

.show-complete a:hover {
  text-decoration: none; }

.note-name, .completed-by, .comment-name, .remind-name, .note-name-complete {
  color: #000;
  line-height: 40px;
  height: 40px;
  font-size: 15px;
  background: transparent;
  border: 0;
  height: 40px;
  width: -webkit-calc(100% - 170px);
  width: -moz-calc(100% - 170px);
  width: -ms-calc(100% - 170px);
  width: calc(100% - 170px);
  display: inline-block;
  overflow: hidden !important;
  text-overflow: ellipsis; }

.completed-by {
  line-height: 10px;
  height: 10px;
  width: 100%;
  font-size: 10px; }

.completed-by {
  line-height: 10px;
  height: 10px;
  width: 100%;
  font-size: 10px; }

.comment-name {
  line-height: 20px;
  height: 20px;
  width: 100%;
  font-size: 14px; }

.remind-name {
  width: 220px;
  line-height: 20px;
  height: 20px;
  font-size: 14px; }

.note-item-complete {
  opacity: 0.4; }

a {
  text-decoration: none; }

#input-note:hover {
  outline: none; }

.datetime-notice {
  font-size: 10px;
  color: crimson; }

.description-note {
  display: inline-block;
  float: right;
  z-index: 9;
  margin-top: -5px;
  margin-right: 6px;
  overflow-x: visible; }

.scroll-note {
  top: 0;
  height: 100vh;
  height: -webkit-calc(100vh);
  height: -moz-calc(100vh - 40px);
  height: -ms-calc(100vh - 40px);
  height: calc(100vh - 40px);
  padding: 0;
  width: 100%;
  overflow-y: auto;
  overflow-x: visible;
  position: relative; }

.body-desc {
  top: 0;
  height: -webkit-calc(100% - 160px);
  height: -moz-calc(100% - 160px);
  height: -ms-calc(100% - 160px);
  height: calc(100% - 160px);
  padding: 0;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative; }

.login-form {
  left: -webkit-calc(50% - 250px);
  left: -moz-calc(50% - 250px);
  left: calc(50% - 250px);
  position: relative;
  width: 500px;
  height: 250px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

.form-control[readonly] {
  cursor: pointer; }

.progress-bar {
  z-index: -10;
  top: 0;
  height: 100%;
  width: 0%;
  display: block;
  position: absolute;
  -webkit-transition: width 225ms ease;
  -moz-transition: width 225ms ease;
  -o-transition: width 225ms ease;
  -ms-transition: width 225ms ease;
  transition: width 225ms ease;
  border-right-width: 1px;
  border-right-style: solid;
  opacity: 0.08;
  float: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background: #EFF3EF; }

.textWhite {
  color: white; }

#myModal1 {
  z-index: 9999999; }
