
                        <li  class="note-item" ng-repeat="note in notes " ng-bind-html-unsafe="note" ng-click="loaddesc(note);" ng-dblclick="toggledbldisplay();">
                            <span class="progress-bar" style=" z-index:0; width:50%;"></span>
                           <div class="note-item-list" style="z-index:999; opacity:1;">
                             
                            <i style="z-index:2;" ng-click="complete(note, $index); playSound();" class="fa fa-square-o icon-black index"></i>
                            <span style="z-index:2;" class="note-name">{{note.nname}}</span>
                            <span style="z-index:2;" class="description-note">
                                <i class="glyphicon glyphicon-pushpin icon-desc" style="font-size:10px;" ng-show="{{note.ndatestart === 'Invalid Date' ? false : true}}"></i>
                                <i class="fa fa-comments-o icon-desc" ng-show="{{note.comment.length <= 0 ? false : true}}"></i>
                                <span class="datetime-notice">{{(note.ndatestart === 'Invalid Date' ? " ": note.ndatestart)}}</span>
                                <i ng-click="checkstart(note)" ng-class="note.nstart ? 'fa fa-star-o icon-desc' : 'fa fa-star icon-desc'" style="color:red; margin-right:18px;"></i> 
                            </span>
                            </div>                 
                            
                        </li>
                        <!--<notecomplete notevalue="notes"></notecomplete>-->