<!--show remind start-->
<div class="dialog-wrapper">
    <ul class="menu-reminder">
        <li ng-repeat="noti in arrN"><span class="fa fa-bell-o icon-reminder"></span>
            <div class="reminder-head">
                <span>Reminder:</span>
                <br/>
                <span class="remind-name">{{noti.nname}}</span>
            </div>
            <i ng-click="removeNoti(noti, $index)" class="fa fa-times"></i></a>
        </li>

    </ul>
</div>

<!--show remind end-->
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Set Date</h4>
            </div>
            <div class="modal-body">

                <h4>Set start date:</h4>
                <input readonly class="form-control" id="api_buttonstartdate2_open" placeholder="Set due date" type="text" ng-model="date5">
                <h5>
                                <input type="radio" checked name="optradio" ng-click="checkrepeat()" ng-model="repeat" value="0"> No repeat</h5>
                <h5>
                                <input type="radio" name="optradio" ng-model="repeat" ng-click="checkrepeat()" value="1"> Repeat every day</h5>
                <h5>
                                <input type="radio" name="optradio" ng-model="repeat" ng-click="checkrepeat()" value="2"> Repeat every week</h5>
                <h5>
                                <input type="radio" name="optradio" ng-model="repeat" ng-click="checkrepeat()" value="3"> Repeat every month</h5>
                <hr>
                <h4>Set date time remind:</h4>
                <input class="form-control hoverform" readonly id="api_button_open2" type="text" placeholder="Date remind" ng-model="date6">
                <br>
                <input class="form-control hoverform" readonly id="api_buttontime_open2" type="text" placeholder="Time Remind" ng-model="time3">


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                <div class="comment-name">{{note.nname}}</div>
                <div >
                    <div style="width:49%; display:inline-block;">
                        <button type="button" class="btn btn-default btn-block"  ng-click="removenote(note); toggledbldisplayclose(); " data-dismiss="modal">Delete</button>
                    </div>
                    <div  style="width:49%; display:inline-block;">
                        <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="wrapper">
    <!--offcanvas start-->
    <div id="sidebar-wrapper">
        <nav class="menu-primary">
            <a href="javascript:void(0)" ng-click="canvasLoad()" data-toggle="offcanvas" id="menu-toggle">
                <span class="fa fa-bars icon"></span>
            </a>
            <span>
                        <input id="search-input" type="search">
                        <span class="fa fa-search  icon search"></span>
            </span>
        </nav>
        <div class="menu-user">
            <a href="#"><span class="avatar">{{ktusername}}</span> <span class="title" id="user-name" >{{username}}</span>
                        <span class="fa fa-angle-down icon-black"></span>
                        </a>
            <span class="fa fa-comment-o icon-message"></span>
            <span class="fa fa-bell-o icon-ring"></span>

        </div>
        <ul class="sidebar-nav" id="menu">
            <li ng-click="showInbox();">
                <a href="javascript:void(0)"><span class="fa fa-inbox icon-black"></span><span class="title">Inbox</span></a><span class="label-message"></span>
                <span class="label-message">{{notes.length}}</span>
            </li>
            <li ng-click="showStarter();" ng-show="starters.length > 0 ? true : false">
                <a href="javascript:void(0)"><span class="fa fa-star-o icon-black"></span><span class="title">Starred</span><span class="label-message" ></span>
                        <span class="label-message" >{{starters.length}}</span></a>
            </li>
            <li ng-click="showToday();" ng-show="todays.length > 0 ? true : false">
                <a href="javascript:void(0)"><span class="fa fa-calendar-o icon-black"><span class="labeldatesmall">{{todayStr}}</span></span><span class="title">Today</span><span class="label-message" ></span>
                        <span class="label-message" >{{todays.length}}</span></a>
            </li>
            <li>
                <a href="#"><span class="fa fa-calendar icon-black"></span><span class="title">Week</span><span class="label-message" ></span>
                        <i class="label-message" >1</i></a>
            </li>



        </ul>

        <div class="menu-create">

            <a href="#">
                <span class="fa fa-plus icon-black"></span><span class="title">Create list</span>
            </a>
        </div>
    </div>
    <!--offcanvas end-->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="head-content ">
            <div class="label-search">
                <h1>{{headname}}</h1>
            </div>
            <div class="more-info">
                <span class="fa fa-share-alt-square icon-info white "><br><span>Share</span></span>
                <span class="fa fa-sort-alpha-asc icon-info white"><br><span>Sort</span></span>
                <span class="fa fa-ellipsis-h icon-info white"><br><span>More</span></span>
            </div>
        </nav>
        <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Small Modal</button>-->
        <div class="scroll-note">
            <div class="new-note">
                <button ng-click="doSomething(inputnote, starter,date5, date6, time3, repeat)" class="btn-search" type="button">
                    <i class="fa fa-plus"></i>
                </button>
                <input ng-model="inputnote" my-enter="doSomething(inputnote, starter,date5, date6, time3, repeat)" id="input-note" type="text" maxlength="255" placeholder="Add a to do...">
                <div class="show ">

                    <span id="calen" class="fa fa-calendar-o icon" data-toggle="modal" data-target="#myModal"><span class="label-icon">{{todayStr}}</span></span><span class="label-icon-clear" ng-show="showclear" ng-click="cleardate()">x</span>
                    <i ng-click="changeStarter();" ng-class="starter === true ? 'fa fa-star icon-desc' : 'fa fa-star-o icon-desc'" ng-model="starter" id="starter"></i>
                </div>
            </div>
            <span ng-show="showstarter"><div ng-include="'template/starter.html'"></div></span>
            <span ng-show="showinbox"><div ng-include="'template/inbox.html'"></div></span>
            <span ng-show="showtoday"><div ng-include="'template/today.html'"></div></span>

        </div>
    </div>
    <!--#page-content-wrapper 
        <!--menu-description-->
    <div id="menu-desc" ng-show="divdbldisp">
        <div class="menu-desc-label">
            <i ng-class="note.complete ? 'fa fa-check-square-o icon-black': 'fa fa-square-o icon-black'" ng-click="complete(note, $index)"></i>
            <!--<span hidden class="note-name">{{note.nname}}</span>-->
            <textarea id="ip" onkeypress="auto_height(this)" maxlength="210" ng-model-options="{updateOn:'blur'}" ng-change="updatenname(note)" class="edit-form" ng-model="editnote"></textarea>
            <span class="description-note">
                    <i  ng-click="checkstart(note)" ng-class="note.nstart ? 'fa fa-star icon-desc' : 'fa fa-star-o icon-desc' " ></i> 
                </span></div>
        <div class="body-desc">
            <div class="h45">
                <span><i class="fa fa-calendar-check-o icon-black"></i></span>
                <div class="title-menu-desc">
                    <input ng-change="changedate(note,date1)" class="datenote" id="api_buttonstartdate1_open" placeholder="Set due date" type="text" ng-model="date1" readonly> <i class="fa fa-history icon-black" id="repeat"></i>
                </div>
            </div>
            <div id="repeatp">
                <h6>
                                <input type="radio" name="optradio"  ng-click="checkrepeat2()" ng-model="repeat2" value="0"> No repeat</h6>
                <h6>
                                <input type="radio" name="optradio" ng-click="checkrepeat2()" ng-model="repeat2" value="1"> Repeat every day</h6>
                <h6>
                                <input type="radio" name="optradio" ng-click="checkrepeat2()" ng-model="repeat2" value="2"> Repeat every week</h6>
                <h6>
                                <input type="radio" name="optradio" ng-click="checkrepeat2()" ng-model="repeat2" value="3"> Repeat every month</h6>
            </div>
            <div class="h45">
                <span><i class="fa fa-calendar-check-o icon-black"></i></span>
                <div class="title-menu-desc2">
                    <input class="dateremind" id="api_button_open" type="text" placeholder="Date remind" ng-model="date7">
                    <i class="material-icons icon-black iconsize24">alarm</i>
                    <input class="dateremind" style="width:28%" id="api_buttontime_open1" type="text" placeholder="Time Remind" ng-model="time1">
                    <i class="fa fa-times icon-black show-item" ng-click="changedate2(note, '','')"></i>
                </div>
            </div>

            <div class="ab">
                <ol class="list-task">
                    <li ng-repeat="itemlist in note.listitem">
                        <i ng-class="itemlist.complete ? 'fa fa-check-square-o icon-black': 'fa fa-square-o icon-black'" ng-click="checkComplete(note, itemlist)"></i>
                        <span class="note-name">{{itemlist.itemname}}</span>
                        <i class="fa fa-times icon-black show-item" style="float:right; " ng-click="removeItem(note, itemlist)"></i>
                    </li>
                </ol>
            </div>
            <div class="h45">
                <span><i class="fa fa-plus icon-black"></i></span>
                <div class="title-menu-desc">
                    <input class="input-note" ng-model="inputnotelist" my-enter="addlistitem(note)" type="text" placeholder="Add a subtask">
                    <i class="fa fa-times icon-black show-item"></i>
                </div>
            </div>
            <div class="h45">
                <span><i class="fa fa-pencil-square-o icon-black"></i></span>
                <div class="title-menu-desc">
                    <span><input class="input-note" type="text" placeholder="Add a note"></span>
                    <i class="fa fa-external-link icon-black"></i>
                </div>
            </div>
            <div class="h45" id="sharenote">
                <i class="fa fa-share-alt icon-black"></i>
                
                    <span class="share">Share user</span>
                
            </div>
            <div class="ab"  id="sharenotelist">
                <ol class="list-task" ng-repeat=" user in shareuserlist">
                    <li>
                        <i ng-class="loadchecksharenote(note, user) ? 'fa fa-check-square-o icon-black': 'fa fa-square-o icon-black'" ng-click="sharenote(note,user)"></i>
                        <span class="note-name">{{user}}</span>
                    </li>
                </ol>
            </div>
            <div class="h45">
                <span><i class="fa fa-paperclip icon-black"></i></span>
                <div class="title-menu-desc">
                    <span>
                            <input class="input-file" type="text" placeholder="Add a file">
                        </span>
                    <i class="fa fa-microphone icon-black "></i>
                    <i class="fa fa-dropbox icon-black "></i>
                </div>
            </div>

            <ul class="list-comment">
                <li draggable="true" ng-repeat="cm in note.comment">
                    <div class="menu-primary-comment">
                        <a href="#"><span class="avatar">{{ktcommentname(cm.username)}}</span> 
                        <div class="comment">
                            <span class="commentname" >{{cm.username}}</span>
                            <span class="commenttime"  >{{timeSince(cm.commentdate)}}</span>
                            <br/>
                            <span class="comment-name">{{cm.commentname}}</span>
                        </div> 
                    </a>
                    </div>
                    <div class="icremovecomment">
                        <i class="fa fa-times icon-black show-item" ng-click="removecomment(note,cm)"></i>
                    </div>
                </li>

            </ul>
        </div>
        <div class="bottom">
            <input class="form-control" ng-model="inputcomment" my-enter="addcomment(note)" type="text" placeholder="Add a comment...">
            <div class="toggle-menu-desc">
                <span ng-click="toggledbldisplayclose();">
                        <i class="	glyphicon glyphicon-chevron-right"></i>
                    </span>
                <span class="date-task">Created on {{note.createdate}}</span>
                <span data-toggle="modal" data-target="#myModal1" class="glyphicon glyphicon-trash"></span>
            </div>
        </div>
    </div>

    <!--hidden-->
    <audio id="audio1">
        <source src="audio/wl3-complete.OGG" type="audio/ogg"></source>
        Your browser isn't invited for super fun audio time.
    </audio>
    <div>
        <input id="startdate1" ng-change="changedate(note,date1)" hidden type="text" ng-model="date1" readonly="">
    </div>
    <div>
        <input id="api_picker_open" ng-change="changedate2(note,date7, time1)" hidden type="text" ng-model="date7" readonly="">
    </div>
    <div>
        <input id="api_pickertime1_open" ng-change="changedate2(note,date7, time1)" hidden type="text" ng-model="time1" readonly="">
    </div>

    <div>
        <input id="startdate2" hidden type="text" ng-model="date5" readonly="">
    </div>
    <div>
        <input id="api_picker_open2" ng-change="changedate3(date6, time3)" hidden type="text" ng-model="date6" readonly="">
    </div>
    <div>
        <input id="api_pickertime2_open" ng-change="changedate3(date6, time3)" hidden type="text" ng-model="time3" readonly="">
    </div>
    <!--hidden-->
