@mixin transition($transition){
    -webkit-transition:$transition;
    -moz-transition:$transition;
    -ms-transition:$transition;
    transition:$transition;
}
@mixin border-radius($radius){
    -webkit-border-radius:$radius;
    -moz-border-radius:$radius;
    -ms-border-radius:$radius;
    border-radius:$radius;
}
@mixin media($queryString){
    @media #{$queryString}{
        @content;
    }
}

#wrapper.offcanvas #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: 40px;
        @include transition(all 0.5s ease);
         width: -webkit-calc(100% - 45px); 
        width:    -moz-calc(100% - 45px); 
        width:      calc(100% - 45px);
    
 }

#page-content-wrapper {
    @include transition(all 0.5s ease);
    position: relative;
    margin-left:250px;  
    width: -webkit-calc(100% - 250px); 
    width:    -moz-calc(100% - 250px); 
    width:      calc(100% - 250px);
    float:left;
    z-index: 1001;
}
.search{
    margin-left: 0px;
    margin-right: 0;
}
.head-content{
    background: #668964;
    height: 40px;
    float: left;
    position: relative;
    width: 100%;
    z-index: 1001; 
}
.head-content .label-search{
    float:left;
}
.head-content h1{
    margin: 0; 
    padding: 5px;
    color: #FFF;
}
.more-info{
    right: 0;
    margin: 0;
    position:absolute; 
    width: 150px;
    float: left;
    z-index: 1002;
    background: #668964;
    
   
}.new-note{
    width: auto;
    margin-left: 20px;
    margin-right:20px;
    height: 45px;
    margin-top: 60px;
    background: #668964;
    border-radius: 5px;
}
.note-item{
    width: auto;
    margin-left: 20px;
    margin-right:20px;
    height: 45px;
    background: #FFF;
    @include border-radius(3px);
    margin-top: 1px;
    padding-top: 5px;
    position: relative;
    color: #FFF;line-height: 40px;
}
.note-item input{
    height: 20px;
   
}
#input-note{
    border: 0;
    background: #668964;
    margin-top: 6px;
    color: #FFF;
    line-height: 30px;
    float: left;
    outline: none;
    font-size: 18px;
    margin-right: 0px;
    padding-right: 0px;
   width: calc(100% - 150px); 
}

.icon-new-note{
    float: left;
}
.icon-new-note i{
    margin: 0;
    padding: 0;
    height: 10px;
    weight: 10px;
}
.btn-search{
    margin: 5px;
    height: 40px;
    width: 40px;
    background: #668964;
    color: #FFF;
    opacity: 0.7;
    border:0;
    float: left;
}
.show{
    float: right;
    height: 20px;
    padding-top: 4px;
}
.note{
    margin-top: 20px;
    list-style: none;
    margin-left: 0;
    padding: 0;
}

.show-complete{
    text-transform: uppercase;
    color:#FFF;
    background-color: #668964;
    opacity: 0.8;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 180px;
    @include border-radius(3px);
    margin-left: 20px;
    margin-right:20px;
    font-size: 11px;
    padding: 5px;
}
.show-complete .title{
    color: #FFF;
}
.show-complete a:hover{
    
    text-decoration: none;
}
.note-name{
    color:#000;
    line-height: 40px;
    font-size: 16px;
}
.note-name-complete{
    @extend .note-name;
    text-decoration: line-through;
}
.note-complete{
    @extend .note;
}
.note-item-complete{
    @extend .note-item;
    opacity: 0.4;
}
a{
    text-decoration: none;
}
#input-note:hover{
    outline: none;
}
.datetime-notice{
    font-size: 10px;
    color: crimson;
}
.description-note{
    float: right;
}
.scroll-note{
    top: 0;
    height: 90vh;
    padding: 0;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}
.body-desc{
    top: 0;
    height: -webkit-calc(100% - 160px); 
    height:    -moz-calc(100% - 160px); 
    height:      calc(100% - 160px);
    padding: 0;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}