<li  class="note-item" ng-repeat="note in notes " ng-bind-html-unsafe="note" ng-click="loaddesc(note);"  ng-dblclick="toggledbldisplay(); loaddesc(note);">
    <xng-watcher note-item="note.listitem"></xng-watcher>
    <div class="note-item-list" style="z-index:999; opacity:1;">
        <i style="z-index:2;" ng-click="complete(note, $index); playSound();" class="fa fa-square-o icon-black index"></i>
        <span style="z-index:2;" class="note-name">{{note.nname}}</span>
        <span style="z-index:2;" class="description-note">
            <span class="glyphicon glyphicon-pushpin icon-desc" style="font-size:10px;" ng-show="{{note.ndatestart === 'Invalid Date' ? false : true}}"></span>
            <span class="fa fa-comments-o icon-desc" ng-show="{{note.comment.length <= 0 ? false : true}}"></span>
            <span class="datetime-notice">{{(note.ndatestart === 'Invalid Date' ? " ": note.ndatestart)}}</span>
            <span ng-click="checkstart(note)" ng-class="note.nstart ? 'fa fa-star-o icon-desc' : 'fa fa-star icon-desc'" style="color:red; "></span> 
            <span class="fa fa-sliders icon-desc" style="color:red;" ng-click="loaddesc(note);toggledbldisplay();"></span>
                                    
        </span>
    </div>                 
                            
</li>